.wrapper {
  height: 750px;
  background-color: #86d0da;
  clip-path: polygon(100% 0, 100% 100%, 25% 100%, 0 77%, 0 0);
  & .title {
    height: 100%;
    color: #fff;
    background-position: bottom left;
    background-size: 350px !important;
    background-image: url('../../../assets/images/rect-bottom.png');
    background-repeat: no-repeat;
  }
  & .titleImage {
    position: relative;
    top: 15%;
    transform: perspective(1px) translateY(-50%);
    left: 15%;
    height: 350px;
    background-position: center top;
    background-size: 250px !important;
    background: url('../../../assets/images/dot-third.png');
    background-repeat: no-repeat;
    & h1 {
      position: relative;
      top: 30%;
      letter-spacing: 1.4px;
      font-weight: 600;
    }
    & p {
      position: relative;
      top: 30%;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1px;
    }
  }

  & .infoWrap {
    position: relative;
    top: -130px;
    & .free {
      position: relative;
      top: 500px;
      left: -60px;
      color: #fff;
      max-width: 250px;
      & h5 {
        letter-spacing: 1px;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    & .low {
      position: relative;
      left: 550px;
      top: 310px;
      color: #fff;
      max-width: 290px;
      & h5 {
        letter-spacing: 1px;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    & .get {
      position: relative;
      left: 330px;
      top: 490px;
      color: #fff;
      max-width: 250px;
      & h5 {
        letter-spacing: 1px;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    & .imageWrap {
      & img {
        position: relative;
        left: -150px;
        height: auto;
        width: 100%;
        z-index: -1;
      }
    }
  }
}