.footerWrapper { 
  background-color: #3f3f3f;
  .textWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 85px;
    h5 {
      color: #b9b9b9;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 420px) {
  .footerWrapper {
    .textWrap {
      min-height: 50px;
    }
  }
}