.wrapperFourth {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 80vh;
  background: #fff;
  .leftSection {
    .title {
      width: 70%;
      margin: 0 auto;
      h1 {
        font-weight: 600;
        letter-spacing: 1.4px;
        color: #3f3f3f;
        font-size: 55px;
      }
      p {
        font-size: 18px;
      }
      .text {
        text-transform: uppercase;
        line-height: 1.67;
        letter-spacing: 0.5px;
        color: #9f9f9f;
        font-size: 18px;
      }
      :last-child {
        font-weight: 600;
        & :hover {
          color: #6fc3ce;
        }
      }
      .email {
        color: #86d0da;
      }
    }
  }
  .rightSection {
    .box {
      margin-left: 150px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 230px;
      height: 210px;
      border-radius: 40px;
      box-shadow: 0 0 24px 0 rgba(0, 0, 1, 0.07);
      color: #9f9f9f;
      margin: 0 auto;
      transition: all 0.5s;
      &:hover {
        box-shadow: 0 0 24px 0 rgba(0, 0, 1, 0.2);
        img {
          transform: scale(0.8);
        }      
      }
      .imageWrap {
        p {
          margin-top: 15px;
        }
      }
    }
    .box img {
      transition: all 0.5s;
      width: 65px;
      height: 60px;
    }
  }
}

@media screen and (max-width: 991px) {
  .wrapperFourth {
    flex-direction: column;
    justify-content: space-evenly;
    .leftSection {
    }
    .rightSection {
      .box {
      }
    } 
  }  
}

@media screen and (max-width: 420px) {
  .wrapperFourth {
    flex-direction: column;
    justify-content: space-evenly;
    .leftSection {
      .title {
        margin-top: 30px;
        width: 100%;
        h1 {
          font-size: 28px;
          margin-bottom: 20px;
        }
        p {
          font-size: 14px;
        }
        .text {
          font-size: 14px;
        }
      }
    }
    .rightSection {
      .box {
        margin-top: 60px;
        margin-bottom: 50px;
      }
    } 
  }  
}