.wrapperSix {
  background-color: #86d0da;
  .topImage {
    background-image: url('../../../assets/images/shape-grey.svg');
    background-repeat: repeat-x;
    background-size: 40px auto;
    height: 20px;
    margin-top: -1px;
  }
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 110px;
    align-items: center;
  }
  .youtube, .medium, .twitter, .telegram {
    img {
      width: 170px;
    }
  }
}

@media (max-width: 1500px) {
  .wrapperSix {
    .youtube, .medium, .twitter, .telegram {
      img {
        width: 150px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .wrapperSix {
    .youtube, .medium, .twitter, .telegram {
      img {
        width: 120px;
      }
    }
  }
}

@media (max-width: 992px) {
  .wrapperSix {
    .youtube, .medium, .twitter, .telegram {
      img {
        width: 100px;
      }
    }
  }
}

@media (max-width: 420px) {
  .wrapperSix {
    min-height: 200px;
    .social {
      min-height: 70px;
      align-items: flex-end;
    }
    .youtube, .medium, .twitter, .telegram {
      img {
        width: 110px;
      }
    }
  }
}