.wrapperSecond {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ebf0f4;
  min-height: 100vh;
  .maskImage {
    z-index: 2;
    position: relative;  
    img {
      width: 100%;
    }
    #video {
      mask: url('../../../assets/images/mask.svg');
      -webkit-mask: url('../../../assets/images/mask.svg');
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
    }
    .backMask {
      position: absolute;
      top: 30px;
      left: 50px;
      z-index: -1;
    }
  }
  .rightSection {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    .topText {
      text-transform: uppercase;
      color: #3f3f3f;
      line-height: 3.57;
      letter-spacing: 0.7px;
      margin-bottom: 0px;
      font-size: 28px;
    }
    h2 {
      font-size: 55px;
      border-top: 1px solid #c0c0c0;
      border-bottom: 1px solid #c0c0c0;
      width: 65%;
      color: #47c1d2;
      font-weight: 700;
      margin-top: 0px;
      padding-top: 15px;
      padding-bottom: 15px;
      letter-spacing: 2px;
      white-space: nowrap;
    }
    .bottomText {
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 1px;
      color: #3f3f3f;
      margin-top: 20px;
      margin-bottom: 20px;
      white-space: nowrap;
    }
    .donateBtn {
      border: none;
      background: linear-gradient(225deg, #86d0da, #47c1d2 99%);
      line-height: 1.82;
      letter-spacing: 1px;
      color: #fff;
      border-radius: 30px;
      width: 220px;
      height: 45px;
      font-size: 18px;
      text-transform: uppercase;
      &:hover {
        background: #90dee8;
      }
    }

    .imageWrap {
      position: absolute;
      top: 0px;
      right: 0px;
      img {
        height: 450px;
        z-index: -1;
      }
    }
  }
}

@media (max-width: 1700px) {
  .wrapperSecond {
    .maskImage {
      img {
        width: 750px;
      }
      #video {
        max-width: 780px;

      }
    }
    .rightSection {
      .topText {
        font-size: 25px
      }
      h2 {
        font-size: 45px;
      }
      .bottomText {
        font-size: 15px;
      }
      .imageWrap {
        img {
          height: 350px;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .wrapperSecond {
    .maskImage {
      img {
        width: 550px;
      }
      #video {
        max-width: 700px;
        height: 500px;
      }
      .backMask {
        img {
          width: 670px;
        }
      }
    }
    .rightSection {
      .topText {
        font-size: 20px
      }
      h2 {
        font-size: 32px;
      }
      .bottomText {
        font-size: 13px;
      }
      .imageWrap {
        img {
          height: 280px;
        }
      }
    }

    .donateBtn {
      width: 180px;
      height: 35px;
      font-size: 14px;
    }
  }
}

@media (max-width: 1350px) {
  .wrapperSecond {
    .maskImage {
      img {
        width: 550px;
      }
      #video {
        max-width: 550px;
        height: 380px;
      }
      .backMask {
        img {
          width: 520px;
        }
      }
    }
  }  
}

@media (max-width: 1200px) {
  .wrapperSecond {
    .maskImage {

    }
    .rightSection {

    }
    .mainRight {
      .donationTitle {
        margin: auto;
        width: 60%;
        h2 {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .wrapperSecond {
    flex-direction: column-reverse;
    justify-content: space-between;
    .videoSection {
      align-self: flex-start;
      .maskImage {
  
      }
    }
    .rightWrap {
      width: 70%;
      align-self: flex-end;
      .rightSection {
        .donationTitle {
          margin: auto;
          width: 80%;
          h2 {
            width: 90%;
          }
        }
      }
    }
  }
}