.wrapperFirst {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: calc(100vh - 80px);
  .titleWrap {
    position: relative;
    text-transform: uppercase;
    padding-left: 3%;
    h2 {
      font-size: 55px;
      letter-spacing: 1.4px;
      font-weight: 600;
      margin-bottom: 15px;
      white-space: nowrap;
    }
    p {
      font-size: 28px;
      font-weight: 100;
      letter-spacing: 0.7px;
      margin-bottom: 30px;
      white-space: nowrap;
      color: #9f9f9f;
    }
    .socialWrap {
      .iconWrapper {
        display: inline-block;
        margin-right: 5px;
        border-radius: 50%;
        background: #86d0da;
          :hover {
            transform: scale(1.1);
          }
      }
    }
    i {
      padding: 15px;
      color: #fff;
      width: 45px;
      height: 45px;
    }
    .social {
      margin-left: 20px;
    }
  
    .imageWrap {
      img {
        position: absolute;
        bottom: 200px;
        height: 270px;
        left: 150px;
      }
    }
  }
  .human {
    position: relative;
    left: 60px;
    max-height: 740px;
    z-index: -1;
  }

}

@media screen and (max-width: 1550px) {
  .wrapperFirst {
    .titleWrap {
      h2 {
        font-size: 45px;
      }
      p {
        font-size: 20px;
      }
      .imageWrap {
        img {
          height: 210px;
        }
      }
    }
    .human {
      max-height: 580px;
    }
  }
}
@media screen and (max-width: 1300px) {
  .wrapperFirst {
    .titleWrap {
      padding: 0;
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 17px;
      }
      .imageWrap {
        img {
          height: 170px;
        }
      }
    }
    .human {
      max-height: 480px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapperFirst {
    .titleWrap {
      .imageWrap {
        img {
          height: 150px;
          left: -240px;
          bottom: 210px;
        }
      }
    }
    flex-direction: column;
    justify-content: space-evenly;
    .human {
      max-height: 380px;
      left: -40px;
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapperFirst {
    .leftSection {
      width: 85%;
      .titleWrap {
        h2 {
          font-size: 55px;
        }
        p {
          font-size: 27px;
        }
      }
    }
    .human {
      max-height: 390px;
      left: -120px;
    }
  }
}
@media screen and (max-width: 700px) {
  .wrapperFirst {
    align-items: stretch;
  }
}

@media screen and (max-width: 600px) {
  .wrapperFirst {
    align-items: stretch;
    .leftSection {
      .titleWrap {
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 15px;
        }
      }
      width: 100%;
    }
    .rightSection {
      padding: 0;
      width: 100%;
      .human {
        position: static;
        width: 100%;
      }
    }
    // .rightSection {
    //   width: 100%;
    //   .human {
    //     max-height: 200px;
    //   }
    // }
  }
}

@media screen and (max-width: 420px) {
  .wrapperFirst {
    align-items: stretch;
    .leftSection {
      .titleWrap {
        padding: 0;
        h2 {
          font-size: 34px;
        }
        p {
          font-size: 17px;
        }
        .socialWrap {
          text-align: center;
        }
      }
    }
    .rightSection {
      padding: 0;
      width: 100%;
      .human {
        position: static;
        width: 100%;
      }
    }
    // .rightSection {
    //   text-align: center;
    //   .human {
    //     max-height: 230px;
    //     left: -10px;
    //   }
    // }
  }
}

@media screen and (max-width: 380px) {
  .wrapperFirst {
    .leftSection {
      text-align: center;
      .titleWrap {
        padding: 0;
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 14px;
          margin-bottom: 30px;
        }
        .socialWrap {
          .iconWrapper {
            margin-right: 7px;
            i {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
    .rightSection {
      padding: 0;
      width: 100%;
      .human {
        position: static;
        width: 100%;
      }
    }
    // .rightSection {
    //   .human {
    //     max-height: 200px;
    //     left: -14px;
    //   }
    // }
  }  
}

@media screen and (max-width: 320px) {
  .wrapperFirst {
    .leftSection {
      .titleWrap {
        h2 {
          font-size: 26px;
        }
        p {
          font-size: 13px;
        }
        .socialWrap {
          text-align: center;
        }
      }
      width: 100%;
    }
    .rightSection {
      padding: 0;
      width: 100%;
      .human {
        position: static;
        width: 100%;
      }
    }
  }  
}