.wrapperFirst {
  overflow: hidden;
  margin-bottom: 20px;
  min-height: 100vh;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  .titleWrap {
    position: relative;
    text-transform: uppercase;
    grid-column: 1 / 4;
    grid-row: 2;
    justify-self: center;
    h2 {
      font-size: 55px;
      letter-spacing: 1.4px;
      font-weight: 600;
      margin-bottom: 15px;
      white-space: nowrap;
    }
    p {
      font-size: 28px;
      font-weight: 100;
      letter-spacing: 0.7px;
      white-space: nowrap;
      color: #9f9f9f;
    }
    .socialWrap {
      .iconWrapper {
        display: inline-block;
        margin-right: 5px;
        border-radius: 50%;
        background: #86d0da;
          :hover {
            transform: scale(1.1);
          }
      }
    }
    i {
      padding: 15px;
      color: #fff;
      width: 45px;
      height: 45px;
    }
    .social {
      margin-left: 20px;
    }
  
    .imageWrap {
      img {
        position: absolute;
        bottom: 250px;
        height: 240px;
        left: 170px;
      }
    }
  }

  .humanImgWrap {
    grid-column: 4 / 8;
    grid-row: 1;
    align-self: center;
    position: relative;
    .humanWrap {
      position: absolute;
      right: -210px;
      top: -50px;
      img {
        transition: all 0.5s;
      }
      .human {
        max-width: 1040px;
        height: auto;
        z-index: -1;
      }
    }
  }
}

@media (max-width: 1550px) {
  .wrapperFirst {
    .titleWrap {
      h2 {
        font-size: 45px;
      }
      p {
        font-size: 20px;
      }
    }
    .humanImgWrap {
      .humanWrap {
        top: -10px;
        right: -160px;
        .human {
          max-width: 800px;
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .wrapperFirst {
    .titleWrap {
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 17px;
      }
    }
    .humanImgWrap {
      .humanWrap {
        top: -10;
        right: -120px;
        .human {
          max-width: 600px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .wrapperFirst {
    grid-template-rows: repeat(7, 100px);
    .titleWrap {
      grid-column: 1 / 5;
      grid-row: 1 / span 2;
      h2 {
        font-size: 50px;
      }
      p {
        font-size: 25px;
      }
      .imageWrap {
        height: 100px;
        img {
          height: 150px;
          left: -220px;
          bottom: 130px;
        }
      }
    }
    
    .humanImgWrap {
      grid-column: 1 / 5;
      grid-row: 4 / span 5;
      justify-self: center;
      .humanWrap {
        position: static;
        .human {
          max-width: 800px;
        }
      }
    }  
  }
}