.wrapperFifth {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  min-height: 100vh;
  .topImage {
    grid-column: 1 / 13;
    grid-row: 1;
    background-image: url('../../../assets/images/shape-grey-down.svg');
    background-repeat: repeat-x;
    background-size: 40px auto;
  }
  .title {
    grid-column: 6 / 8;
    grid-row: 2;
    white-space: nowrap;
    justify-self: center;
    h2 {
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.7px;
      color: #3f3f3f;
      text-transform: uppercase;
      margin-bottom: 18px;
      margin-top: 0;
    }
    p {
      font-size: 55px;
      text-align: center;
      letter-spacing: 1.4px;
      .blog {
        color: #47c1d2;
      }
    }
  }
  .feedback {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
    grid-row: 4 / span 6;
    align-self: center;
    .imgWrap {
      margin-left: 15px;
      position: absolute;
      left: -280px;
      bottom: 130px;
      img {
        width: 500px;
        height: auto;
      }
    }
    .box {
      position: relative;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column: 5 / 11;
      width: 890px;
      height: 390px;
      border: 2px solid #47c1d2;
      border-radius: 20px;
      .boxTitle {
        grid-column: 3 / 6;
        grid-row: 2 / span 4;
        h4 {
          width: 350px;
          font-size: 28px;
          margin-bottom: 25px;
        }
        p {
          width: 430px;
          font-size: 16px;
          margin-bottom: 25px;    
        }
        .btn {
          text-transform: uppercase;
          border-radius: 25px;
          color: #47c1d2;
          font-size: 16px;
          width: 200px;
          height: 50px;
          box-shadow: 4.4px 5.4px 8px 0 rgba(0, 3, 1, 0.05);
          transition: box-shadow 0.5s;
          &:hover {
            box-shadow: 4.4px 8.4px 20px 0 #aecad2;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .wrapperFifth {
    .title {
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 45px;
      }
    }
    .feedback {
      .box {
        grid-column: 4 / 11;
      }
    }
  }  
}

@media (max-width: 1250px) {
  .wrapperFifth {
    .title {
      h2 {
        font-size: 23px;
      }
      p {
        font-size: 36px;
      }
    }
    .feedback {
      .box {
        width: 750px;
        height: 330px;
        .imgWrap {
          left: -200px;
          img {
            width: 400px;
          }
        }
      }
    }
  }  
}

@media (max-width: 1100px) {
  .wrapperFifth {
    .feedback {
      .box {
        width: 700px;
        height: 310px;
        .imgWrap {
          left: -170px;
          img {
            width: 350px;
          }
        }
      }
    }
  }  
}