.wrapperFifth {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
  .topImage {
    grid-column: 1 / 13;
    grid-row: 1;
  }
  .title {
    grid-column: 6 / 8;
    grid-row: 3;
    white-space: nowrap;
    position: relative;
    left: -10px;
    h2 {
      font-size: 28px;
      text-align: center;
      letter-spacing: 0.7px;
      color: #3f3f3f;
      text-transform: uppercase;
      margin-bottom: 18px;
      margin-top: 0;
    }
    p {
      font-size: 55px;
      text-align: center;
      letter-spacing: 1.4px;
      .blog {
        color: #47c1d2;
      }
    }
  }
  .feedback {
    grid-column: 3 / 10;
    grid-row: 5 / span6;
    .imgWrap {
      margin-left: 15px;
      img {
        width: 520px;
        height: auto;
      }
    }
  }
}